<!-- <p-sidebar [(visible)]="isPricingOptionDisplay" position="right" [style]="{width:'60em'}">
  
</p-sidebar> -->

<mat-sidenav-container class="example-container" (backdropClick)="closeCartSideBar('backdrop')">
  <mat-sidenav class="example-sidenav" #sidenav (keydown.escape)="closeCartSideBar('escape')" disableClose position="end">
    <div id="pricing-option">
      <a class="closebtn">
        <i class="material-icons dp48">close</i>
      </a>
      <div class="container">
        <div class="white-box">
          <div class="row">
            <div class="col s12">
              <h5 class="media-option">{{mediaDetail?.productName}}</h5>
              <div class="row">
                <div class="col s12 m7 l7">
                  <div id="" class="card card-rate">
                    <div class="card-content form">
                      <div class="row mb-none" *ngFor="let price of productOption?.priceUnit">
                        <div class="col s6 m6 l6 right-align">
                          <p>{{price.name}}</p>
                        </div>
                        <div class="col s6 m6 l6">
                          <!-- <div class="input-field">
                            <input type="number" value="1" class="validate" min="1">
                          </div> -->
                          <div class="input-field" *ngIf="price.controlType === formControlTypes.Text">
                            <input *ngIf="price.type === 'text'" [id]="price.key" type="text" [placeholder]="price.placeholder"
                              (keyup)="changeInProductPriceSelect()" [(ngModel)]="price.value" (click)="changeInProductPriceSelect()">

                            <input *ngIf="price.type === 'number'" [id]="price.key" type="number" [step]="price.step"
                              [min]="price.min" [max]="price.max" [placeholder]="price.placeholder" [(ngModel)]="price.value"
                              (keyup)="changeInProductPriceSelect()" (click)="changeInProductPriceSelect()">
                          </div>
                        </div>
                      </div>
                      <div class="row mb-none" *ngFor="let variant of productOption?.variant">
                        <div class="col s6 m6 l6 right-align">
                          <p>{{variant.name}}</p>
                        </div>
                        <div class="col s6 m6 l6">
                          <!-- <div class="input-field">
                            <input type="number" value="1" class="validate" min="1">
                          </div> -->
                          <div class="input-field" *ngIf="variant.controlType === formControlTypes.Select">
                            <select [id]="variant.key" [(ngModel)]="variant.value" (change)="changeInProductPriceSelect()">
                              <option value="null" disabled selected>{{variant.name}}</option>
                              <option *ngFor="let opt of variant.options" [value]="opt">{{opt}}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="row mb-none">
                        <div class="col s6 m6 l6  right-align">
                          <p>#Day(s)</p>
                        </div>
                        <div class="col s6 m6 l6">
                          <div class="input-field">
                            <input type="number" value="1" class="validate" min="1">
                          </div>
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>

                <div class="col s12 m5 l5">
                  <div id="" class="card card-rate">
                    <div class="card-content">

                      <div class="row mt-20">
                        <div class="rate">
                          <div class="col s6 m6 l6 right-align">
                            <p>Card Rate:</p>
                            <!-- <p>Discount:</p> -->
                            <p>
                              <b>Total Price:</b>
                            </p>
                          </div>
                          <div class="col s6 m3 l6 left-align">
                            <p>
                              <i class="fa fa-rupee"></i> {{ productOption?.optPrice}}
                            </p>
                            <!-- <p>
                              <i class="fa fa-rupee"></i> {{'0'}}
                            </p> -->
                            <p>
                              <b>
                                <i class="fa fa-rupee"></i>{{displayTotalPrice()}}
                              </b>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col s12 m12 l12 center">
                  <button class="waves-effect waves-light btn-large btn mt-20 center" (click)="saveDetail()">Add to
                    DASHBORD</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>

    <!-- <app-header (loginDisplay)="closeLoginDialog($event)"></app-header> -->
    <main>
      <app-sub-header></app-sub-header>
      <section class="product-detail ">
        <div class="title-header">
          <div class="row m-none">
            <div class="col m2 l2 s1 hide-on-med-and-up">
              <a href="javascript:void(0)" data-activates="stick-sidebar-menu" class="button-collapse top-nav full left">
                <i class="material-icons">menu</i>
              </a>
              <ul id="stick-sidebar-menu" class="side-nav section table-of-contents">
                <li>
                  <a href="javascript:void(0)" (click)="scrollToElement('advertising-rate')" class="active">Advertising
                    Rate</a>
                </li>
                <li>
                  <a href="javascript:void(0)" (click)="scrollToElement('overview')" class="">Overview</a>
                </li>
                <li>
                  <a href="javascript:void(0)" (click)="scrollToElement('get-started')" class="">Get Started</a>
                </li>
              </ul>
            </div>
            <div class="col m11 l11 s11">
              <h3 class="heading center">Advertising in {{mediaDetail?.productName}} </h3>
            </div>
          </div>
        </div>
        <div class="container ">
          <div class="row mt-30">
            <div class="col m3 l3 s12  left-menu hide-on-small-only">
              <div class="toc-wrapper">
                <ul class="section table-of-contents">
                  <li>
                    <a href="javascript:void(0)" (click)="scrollToElement('advertising-rate')" [ngClass]="{'active': scrollElem === 'advertising-rate'}">Advertising
                      Rate</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)" (click)="scrollToElement('overview')" [ngClass]="{'active': scrollElem === 'overview'}">Overview</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)" (click)="scrollToElement('get-started')" [ngClass]="{'active': scrollElem === 'get-started'}">Get
                      Started</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col s12 m9 l9 ">
              <div id="advertising-rate" class="product-option scrollspy">
                <div class="row">
                  <div class="col s12 m4 l4" *ngFor="let product of productOptions">
                    <div id="product-box" class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img src="assets/images/{{product?.optionInfo?.media?.source}}" height="150">
                      </div>
                      <ul class="card-action-buttons">
                        <li *ngFor="let content of product?.optionInfo?.content">
                          <a class="btn-floating waves-effect waves-light red accent-2">
                            <i class="material-icons fa fa-question-circle-o activator1"></i>
                          </a>
                        </li>
                      </ul>

                      <div class="card-content">

                        <span class="card-title grey-text text-darken-4">{{product?.optionName}}</span>
                        <hr>
                        <p>Radio Mirchi 98.3 FM brings forward an amazing platform to highlight your brand name through
                          our
                          radio advertising platform.</p>
                      </div>
                      <a data-activates="pricing-option" class="view-pricing waves-effect waves-light btn-large btn mt-20 center"
                        (click)="filterProductOptionData(product)">View
                        Pricing</a>
                      <div class="card-reveal" *ngFor="let content of product?.optionInfo?.content">
                        <span class="card-title grey-text text-darken-4">{{product?.optionName}}
                          <i class="material-icons right">close</i>
                        </span>
                        <p>{{content?.value}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div id="thumb-boxed" class="mt-30 scrollspy">
                <div class="row">
                  <div class="col s12 m3" *ngFor="let specification of mediaDetail?.specification | media:{group : 'stats'}">
                    <div class="card  border-radius-3">
                      <div class="card-content center">
                        <img src="assets/images/service-logo/{{specification?.additionalInfo?.icon}}" class="width-40 border-round z-depth-5 round-img">
                        <p class="lighten-4">{{specification?.name}}</p>
                        <h5 class="lighten-4">{{specification?.smallText}}</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="content-box scrollspy mb-30" *ngFor="let specification of mediaDetail?.specification | media:{group : 'Advertising'}">
                <div class="row">
                  <h2>{{specification?.group}}</h2>
                  <p class="lighten-4" [innerHTML]="specification?.name">{{specification?.name}}</p>
                  <h5 class="lighten-4" [innerHTML]="specification?.smallText">{{specification?.smallText}}</h5>
                </div>
              </div>

              <div class="content-box scrollspy mb-30" *ngFor="let specification of mediaDetail?.specification | media:{group : 'Images'}">
                <div class="row">
                  <h2>{{specification?.group}}</h2>
                  <p class="lighten-4" [innerHTML]="specification?.name">{{specification?.name}}</p>
                  <h5 class="lighten-4" [innerHTML]="specification?.smallText">{{specification?.smallText}}</h5>
                </div>
              </div>

              <div id="overview" class="content-box scrollspy mb-30">
                <div class="row">
                  <div class="col l12 s12" [innerHTML]="mediaDetail?.productLongDescription"></div>
                </div>
              </div>

              <div id="get-started" class="content-box scrollspy">
                <div class="row mb-none">
                  <div class="col l12 s12">
                    <div class="wrap">
                      <h4 class="centre-line">
                        <span>HOW TO GET STARTED?</span>
                      </h4>
                    </div>
                    <div class="getstarted-box mt-30">
                      <div class="">
                        <div class="heading">
                          <div class="row box-row mb-none">
                            <div class="col l4 m4 s12">
                              <div class="box-item box-item--1">
                                <div class="box-name">
                                  <h4>PLAN THE CAMPAIGN WITH US</h4>
                                </div>

                                <div class="box-text">
                                  <p>We provide lowest assured rates with best services for Radio stations across
                                    India.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col l4 m4 s12">
                              <div class="box-item box-item--2">
                                <div class="box-name">
                                  <h4>GET THE AUDIO CREATIVE PRODUCED</h4>
                                </div>

                                <div class="box-text">
                                  <p>Leverage your brand's creativity with our talented team and produce your audio
                                    creative
                                    with us, completely free of cost, if billing exceeds Rs. 30,000.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col l4 m4 s12">
                              <div class="box-item box-item--3">
                                <div class="box-name">
                                  <h4>GO LIVE</h4>
                                </div>

                                <div class="box-text">
                                  <p>Done with audio creative already? See your brand hit on-air within a bare minimum
                                    time
                                    and achieve a grandstanding response.</p>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>