<div class="navbar-header hide-on-med-and-down">
  <div class="container">
    <div class="navbar">
      <div class="nav-second">
        <ul class="">
          <li>
            <a href="javascript:void(0)" [routerLink]="['/radio']" routerLinkActive="active">Radio</a>
          </li>
          <li>
            <a href="javascript:void(0)">Cinema</a>
          </li>
          <li>
            <a href="javascript:void(0)">Auto Branding</a>
          </li>
          <li>
            <a href="javascript:void(0)">Outdoor</a>
          </li>
          <li>
            <a href="javascript:void(0)">Television</a>
          </li>
          <li>
            <a href="javascript:void(0)">Magazine</a>
          </li>
          <li>
            <a href="javascript:void(0)">Digital</a>
          </li>
          <li>
            <a href="javascript:void(0)">Airport</a>
          </li>
          <li>
            <a href="javascript:void(0)">Non Traditional</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>