<div class="navbar-header hide-on-med-and-down">
  <div class="container">
    <div class="navbar">
      <div class="nav-second">
        <ul class="">
          <li><a href="radio.html">Radio</a></li>
          <li><a href="cinema.html">Cinema</a></li>
          <li><a href="auto-branding.html">Auto Branding</a></li>
          <li><a href="outdoor.html">Outdoor</a></li>
          <li><a href="television.html">Television</a></li>
          <li><a href="magazine.html">Magazine</a></li>
          <li><a href="digital.html">Digital</a></li>
          <li><a href="airport.html">Airport</a></li>
          <li><a href="non-traditional.html">Non Traditional</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
