<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l8 s12 mb-10">

        <div class="col l2 s12 center">
          <img src="assets/images/home-logo.png" height="110" class="">
        </div>
        <div class="col l10 s12">
          <h5>About Excellent Publicity</h5>
          <p class="text-lighten-4"><span class="hide-on-small-only">What began has a humble advertising agency in 2011, has added numerous tangents to the romantic growth story. </span>Starting with placing customized radio advertisements for our clients, we have spread our wings into television advertisements, cinema vertical & outdoor marketing initiatives.</p>
        </div>
      </div>

      <div class="col l2 s12 mb-10">
        <h5>Quik Link</h5>
        <div class="col l6 s6">
          <ul>
            <li><a href="#!">About Us</a></li>
            <li><a href="#!">Clientle</a></li>
            <li><a href="#!">Team </a></li>
          </ul>
        </div>
        <div class="col l6 s6">
          <ul>
            <li><a href="#!">Services</a></li>
            <li><a href="#!">Career</a></li>
            <li><a href="#!">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <div class="col l2 s12 mb-10">
        <h5>Follow Us</h5>
        <ul class="follow">

          <li><a class="waves-effect waves-light btn-floating social"><i class="fa fa-facebook"></i></a></li>
          <li><a class="waves-effect waves-light btn-floating social"><i class="material-icons dp48">mail_outline</i></a></li>
          <li><a class="waves-effect waves-light btn-floating social"><i class="material-icons dp48">call</i></a></li>
        </ul>
      </div>

    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row mb-none">
        <div class="col l12 s12 center">
          <p>© 2018 Excellent Publicity, All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>
</footer>
