<app-header></app-header>
<main>
  <app-sub-header></app-sub-header>
  <section class="mt-30">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </section>
</main>
<app-footer></app-footer>
<div class="fixed-action-btn " style="bottom: 35px; right: 5px;">
  <a data-activates="add-dashbord" class="button-collapse2 btn-floating btn-large" (click)="cartDisplay = true">
    <i class="material-icons">add</i>
  </a>
</div>
<p-sidebar [(visible)]="cartDisplay" position="right">
  <app-cart></app-cart>
</p-sidebar>