<!-- <div class="fixed-action-btn " style="bottom: 35px; right: 5px;">
  <a data-activates="add-dashbord" class="button-collapse2 btn-floating btn-large ">
    <i class="material-icons">add</i>
  </a>
</div> -->
<!-- Add Dashbord  START -->
<div id="add-dashbord" class="side-nav">
  <div class="container">
    <div class="row">
      <div class="col l12 s12">
        <ul class="mt-none">
          <li class="li-hover">
            <div class="row">
              <div class="col s12 border-bottom-1 mt-5">
                <ul class="tabs">
                  <li class="tab col s6">
                    <a href="javascript:void(0)" [ngClass]="{active: !isSelectIndividualTab}" (click)="isSelectIndividualTab = false">
                      <span>Bulk Plan</span>
                    </a>
                  </li>
                  <li class="tab col s6">
                    <a href="javascript:void(0)" [ngClass]="{active: isSelectIndividualTab}" (click)="isSelectIndividualTab = true">
                      <span>Individual Plan</span>
                    </a>
                  </li>

                </ul>
              </div>
              <!-- <form [formGroup]="orderForm" (ngSubmit)="saveCartData()">
                
              </form> -->

              <div id="individual" class="col s12" *ngIf="isSelectIndividualTab;else bulkTab">

                <!-- <div class="row mt-20 mb-none" style="margin-bottom:10px;">
                  <div class="col s12 m5 l5">
                    <p>Campaign Name :</p>
                  </div>
                  <div class="col s12 m7 l7">
                    <div class="input-field">
                      <input type="text" class="validate" [(ngModel)]="filterObj.campaignName">
                    </div>
                  </div>
                </div> -->
                <div class="filter">
                  <div class="row mt-20" style="margin-bottom:0px;">
                    <div class="col s12 m5 l5">
                      <p>Campaign Name :</p>
                    </div>
                    <div class="col s12 m7 l7">
                      <div class="input-field">
                        <input type="text" class="validate" [(ngModel)]="selectedData.campaignName">
                      </div>
                    </div>
                  </div>
                  <hr/>
                  <div class="row">

                    <div class="col s12" *ngIf="addToCartData.length > 0;else noCartData">

                      <p-accordion [multiple]="true">

                        <p-accordionTab *ngFor="let product of addToCartData">
                          <p-header>
                            <span>{{product?.productName}}</span>
                          </p-header>
                          <div>

                            <div class="row" *ngFor="let price of product?.productOption?.priceUnit">
                              <div class="col s12 m6 l6">
                                <p>{{price.name}}</p>
                              </div>
                              <div class="col s12 m6 l6">
                                <div class="input-field" *ngIf="price.controlType === formControlTypes.Text">
                                  <input *ngIf="price.type === 'text'" [id]="price.key" type="text" [placeholder]="price.placeholder" (keyup)="changeInProductPriceTextbox($event, price)"
                                    [(ngModel)]="price.value" (click)="changeInProductPriceTextbox($event, price)">

                                  <input *ngIf="price.type === 'number'" [id]="price.key" type="number" [step]="price.step" [min]="price.min" [max]="price.max"
                                    [placeholder]="price.placeholder" [(ngModel)]="price.value" (keyup)="changeInProductPriceTextbox($event, price, product)"
                                    (click)="changeInProductPriceTextbox($event, price, product)">
                                </div>
                              </div>
                            </div>
                            <div class="row" *ngFor="let variant of product?.productOption?.variant">
                              <div class="col s12 m6 l6">
                                <p>{{variant.name}}</p>
                              </div>
                              <div class="col s12 m6 l6">
                                <div class="input-field" *ngIf="variant.controlType === formControlTypes.Select">
                                  <select [id]="variant.key" [(ngModel)]="variant.value" (change)="changeInProductPriceSelect($event,variant, product)">
                                    <option value="null" disabled selected>{{variant.name}}</option>
                                    <option *ngFor="let opt of variant.options" [value]="opt">{{opt}}</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col s6 m6 l6">
                                <p>Rate
                                  <!--  <i>{{product?.productOption?.optionUnit}}</i> -->
                                </p>
                              </div>
                              <div class="col s6 m6 l6">
                                <p>Rs. {{showProductPrice(product)}}
                                  <i>{{product?.productOption?.optionUnit}}</i>
                                </p>
                              </div>
                            </div>
                          </div>
                        </p-accordionTab>
                      </p-accordion>
                    </div>
                    <ng-template #noCartData>
                      <div class="col s12">
                        No data in cart
                      </div>
                    </ng-template>

                  </div>
                </div>

              </div>
              <ng-template #bulkTab>
                <div id="bulk" class="col s12">

                  <div class="bulk-edit">
                    <div class="row mt-20" style="margin-bottom:0px;">
                      <div class="col s12 m5 l5">
                        <p>Campaign Name :</p>
                      </div>
                      <div class="col s12 m7 l7">
                        <div class="input-field">
                          <input type="text" class="validate" [(ngModel)]="selectedData.campaignName">
                        </div>
                      </div>
                    </div>
                    <hr>
                    <div class="row" *ngFor="let price of bulkCartData?.productOption?.priceUnit">
                      <div class="col s12 m6 l6">
                        <p>{{price.name}}</p>
                      </div>
                      <div class="col s12 m6 l6">
                        <div class="input-field" *ngIf="price.controlType === formControlTypes.Text">
                          <input *ngIf="price.type === 'text'" [id]="price.key" type="text" [placeholder]="price.placeholder" (keyup)="bulkChangeInProductPriceTextbox($event, price)"
                            [(ngModel)]="price.value" (click)="bulkChangeInProductPriceTextbox($event, price)">

                          <input *ngIf="price.type === 'number'" [id]="price.key" type="number" [step]="price.step" [min]="price.min" [max]="price.max"
                            [placeholder]="price.placeholder" [(ngModel)]="price.value" (keyup)="bulkChangeInProductPriceTextbox($event, price)"
                            (click)="bulkChangeInProductPriceTextbox($event, price)">
                        </div>
                      </div>
                    </div>
                    <div class="row" *ngFor="let variant of bulkCartData?.productOption?.variant">
                      <div class="col s12 m6 l6">
                        <p>{{variant.name}}</p>
                      </div>
                      <div class="col s12 m6 l6">
                        <div class="input-field" *ngIf="variant.controlType === formControlTypes.Select">
                          <select [id]="variant.key" [(ngModel)]="variant.value" (change)="bulkChangeInProductPriceSelect($event,variant)">
                            <option value="null" disabled selected>{{variant.name}}</option>
                            <option *ngFor="let opt of variant.options" [value]="opt">{{opt}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="row">
                      <div class="col s6 m6 l6">
                        <p>Card Rate {{bulkCartData?.productOption?.optionUnit}}</p>
                      </div>
                      <div class="col s6 m6 l6">
                        <p>Rs.5000</p>
                      </div>
                    </div> -->
                  </div>
                </div>
              </ng-template>
            </div>
          </li>
        </ul>
      </div>

      <div class="col s12 l12 s12">
        <div class="prize">
          <p>Total: Rs.{{displayTotalPrice()}}</p>
        </div>
        <!-- <a class="waves-effect waves-light btn-large btn mt-10" href="javascript:void(0)" (click)="saveCartData()">Apply</a> -->
        <button class="waves-effect waves-light btn-large btn mt-10" (click)="saveCartData()">Apply</button>
      </div>
    </div>
  </div>
</div>
<!-- Add Dashbord  END -->